%grid{
	@extend %clearfix;
	list-style: none;
	@include rhythm(margin-left, -3);
}

%grid__item{
	float: left;
    width: 100%;
	@include rhythm(padding-left, 3);
}


.grid{
	@extend %grid;

    > li,
    > .grid__item {
        @include rhythm(padding-left, 3);
    }
}

.grid,
.rtl .grid--rev {
    > li,
    > .grid__item {
        float: left;
    }
}

.grid--rev,
.rtl .grid {
    > li,
    > .grid__item {
        direction: rtl;
        float: right;
    }
}