.search-form {
	position: relative;
	width: 100%;
	height: 44px;

	> label, .search-field {
		display: block;
		box-sizing: border-box;
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		width: 100%;
		height: 44px;
	}

	.search-field {
		padding: 8px $u/2;
		padding-right: 60px;
		line-height: 44px;
		border-radius: 0;
	}

	//@todo make it more flexible (width)
	.search-submit {
		position: absolute;
		top: 0; right: 0;
		padding: $u / 4;
		height: 44px;

		font-size: 14px;
		text-align: center;

		border-radius: 0;
	}

	.error404 .content-area &, .search-no-results .content-area & {
		max-width: 500px;
		margin: 0 auto;
	}
}