.pixassist-notice *, .pixassist-notice :before, .pixassist-notice :after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.pixassist-notice[class] {
  display: block;
  font-size: 14px;
  line-height: 1.5; }
  .pixassist-notice[class] p {
    font: inherit; }
  .pixassist-notice[class] h2 {
    font-size: 18px;
    line-height: 1.32;
    padding: 0;
    margin-top: 0;
    margin-bottom: 12px; }

.pixassist-notice__screenshot {
  width: 20%;
  height: auto;
  max-width: 160px;
  display: inline-block;
  vertical-align: top;
  padding-top: 16px;
  padding-bottom: 16px; }
  @media only screen and (max-width: 1024px) {
    .pixassist-notice__screenshot {
      display: none; } }

.pixassist-notice__body {
  max-width: 80%;
  display: inline-block;
  padding: 16px; }
  @media only screen and (max-width: 1024px) {
    .pixassist-notice__body {
      max-width: 100%; } }

.pixassist-notice-button {
  position: relative;
  overflow: hidden; }
  .pixassist-notice-button:active {
    -webkit-transform: perspective(1px) translateY(2px) translateZ(0);
            transform: perspective(1px) translateY(2px) translateZ(0);
    -webkit-transition-duration: .05s;
            transition-duration: .05s;
    -webkit-box-shadow: none;
            box-shadow: none; }
  .pixassist-notice-button.state--plugin-installing, .pixassist-notice-button.state--plugin-activating, .pixassist-notice-button.state--plugin-redirecting {
    background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.3) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.3) 50%, rgba(255, 255, 255, 0.3) 75%, transparent 75%, transparent);
    background-size: 50px 50px;
    -webkit-box-shadow: none;
            box-shadow: none;
    -webkit-transform: none;
            transform: none;
    pointer-events: none;
    -webkit-animation: progress-bg-anim 2s linear infinite;
            animation: progress-bg-anim 2s linear infinite; }
  .pixassist-notice-button.state--error {
    background-color: #E3004A; }
  .pixassist-notice-button:disabled {
    cursor: not-allowed; }

@-webkit-keyframes progress-bg-anim {
  0% {
    background-position: 0 0; }
  100% {
    background-position: 50px 50px; } }

@keyframes progress-bg-anim {
  0% {
    background-position: 0 0; }
  100% {
    background-position: 50px 50px; } }

.notice {
  display: none; }

.state--plugin-invalidated[class] {
  -webkit-animation: shake 0.8s 0.1s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
          animation: shake 0.8s 0.1s cubic-bezier(0.36, 0.07, 0.19, 0.97) both; }

@-webkit-keyframes shake {
  10%, 90% {
    -webkit-transform: translate3d(-1px, 0, 0);
            transform: translate3d(-1px, 0, 0); }
  20%, 80% {
    -webkit-transform: translate3d(2px, 0, 0);
            transform: translate3d(2px, 0, 0); }
  30%, 50%, 70% {
    -webkit-transform: translate3d(-4px, 0, 0);
            transform: translate3d(-4px, 0, 0); }
  40%, 60% {
    -webkit-transform: translate3d(4px, 0, 0);
            transform: translate3d(4px, 0, 0); } }

@keyframes shake {
  10%, 90% {
    -webkit-transform: translate3d(-1px, 0, 0);
            transform: translate3d(-1px, 0, 0); }
  20%, 80% {
    -webkit-transform: translate3d(2px, 0, 0);
            transform: translate3d(2px, 0, 0); }
  30%, 50%, 70% {
    -webkit-transform: translate3d(-4px, 0, 0);
            transform: translate3d(-4px, 0, 0); }
  40%, 60% {
    -webkit-transform: translate3d(4px, 0, 0);
            transform: translate3d(4px, 0, 0); } }
