///*------------------------------------*\
//    #ALIASES
//\*------------------------------------*/





$unit:  $base-spacing-unit;
$u:     $base-spacing-unit;

$first-padding-unit: 24px;
$second-padding-unit: 48px;