.alignleft,
.alignright {
    position: relative;
    z-index: 1;
    
    @include rhythm(margin-top, 1.5);
    @include rhythm(margin-bottom, 1.5);
    max-width: 50%;

    @include query-below(640px) {
        max-width: 100%;
        display: block;
    }
}

.alignleft {
    float: left;
    @include rhythm(margin-right, 2);

    @include query-above($lap) {
        @include rhythm(margin-right, 4);
    }

    @include query-below($lap) {
        &.wp-caption,
        &.gallery-caption {
            margin-left: 0;
        }
    }


    // Remove negative margins on images on archive
    .blog &, .archive &{
        margin-left: 0;
    }
}

.alignright {
    float: right;
    @include rhythm(margin-left, 2);

    @include query-above($lap) {
        @include rhythm(margin-left, 4);
    }

    @include query-below($lap) {
        &.wp-caption,
        &.gallery-caption {
            margin-right: 0;
        }
    }

    .blog &, .archive &{
        margin-right: 0;
    }
}

.aligncenter,
.alignnone {
    @include rhythm(margin-top, 2);
    @include rhythm(margin-bottom, 1.5);

    @include query-above($lap){
        @include rhythm(margin-top, 4);
        @include rhythm(margin-bottom, 3);
    }

    display: block;
    width: auto !important;

    img {
        max-width: 100%;
        height: auto;
    }
}

.aligncenter, .alignnone{
    img{
        margin: 0 auto;
    }
}

.alignnone .wp-caption-text{
    text-align: center;
}

@include query-below($lap) {
    figure.aligncenter, figure.alignnone {
        margin-left: 0;
        margin-right: 0;
    }
}

.aligncenter {
    text-align: center;

    .blog &, .archive &{
        margin-left: auto;
        margin-right: auto;
    }
}

@include query-above($desk) {

    .alignnone,
    .aligncenter {
        @include rhythm(margin-left, -5);
        @include rhythm(margin-right, -5);
    }

    .alignleft {
        @include rhythm(margin-left, -5);
    }

    .alignright {
        @include rhythm(margin-right, -5);
    }
}

// Remove nevative margins on images in widgets
.widget {

    .aligncenter,
    .alignleft,
    .alignright,
    .alignnone {
        margin: 0;
    }
}
