$purple: #9562C6;
$gray: #71777c;
$gray-light: #CCCCCC;

@mixin pxg-mark {
  transform: rotate(-135deg);

  &:before,
  &:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;

    display: block;
    width: 2px;
    height: 9px;
    margin-left: -3px;
    margin-top: -4px;
    background-color: currentColor;
  }

  &:after {
    width: 6px;
    height: 2px;
  }
}

.pixcare-notice__container {

  *, :before, :after {
    box-sizing: border-box;
  }
}

.pixcare-notice__container[class] {
  display: block;
  position: relative;
  margin-top: 100px;
  margin-bottom: 100px;
  border-left: 0;
  padding-left: 0;
  padding-top: 0;
  padding-bottom: 0;

  font-size: 14px;
  line-height: 1.5;
  color: $gray;

  p {
    font: inherit;
    padding: 0;
  }

  h1 {
    font-size: 18px;
    line-height: 1.32;
    padding: 0;
  }

  @media only screen and (min-width: 600px) {
    font-size: 16px;

    h1 {
      font-size: 25px;
    }
  }
}

.pxg-wizard {
  position: absolute;
  bottom: 100%;
  left: 0;

  width: 100%;
  height: 100px;
  margin: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 12px;

  @media only screen and (min-width: 600px) {
    font-size: inherit;
  }
}

.pxg-wizard__step {
  flex: 1 1 auto;
  text-align: center;

  @media only screen and (min-width: 600px) {
    flex: 0 1 200px;
  }
}

.pxg-wizard__step--current {
  color: $purple;

  span {
    color: inherit;

    b {
      background-color: currentColor;

      &:before,
      &:after {
        color: #FFFFFF;
      }
    }
  }

  .pxg-wizard__progress:after {
    color: $gray-light;
  }
}

.pxg-wizard__step--done {
  color: $purple;

  span {
    color: inherit;

    b {
      background-color: currentColor;
      @include pxg-mark;

      &:before,
      &:after {
        color: #FFFFFF;
      }
    }
  }
}

.pxg-wizard__label {
  display: block;
}

.pxg-wizard__progress {
  display: flex;
  align-items: center;
  color: $gray-light;
  margin-top: 10px;

  &:before,
  &:after {
    content: "";
    height: 4px;
    background-color: currentColor;
    flex-grow: 1;
  }

  b {
    display: block;
    width: 22px;
    height: 22px;
    border: 3px solid currentColor;
    border-radius: 50%;
  }
}

$pixcare-notice-spacing: 30px;
$pixcare-notice-mobile-spacing: 20px;

.pixcare-notice__wrap {
  padding-top: 1px;
  padding-bottom: $pixcare-notice-mobile-spacing;

  > * {
    margin-top: $pixcare-notice-mobile-spacing;
    margin-left: $pixcare-notice-mobile-spacing;
  }

  @media only screen and (min-width: 600px) {
    padding-bottom: $pixcare-notice-spacing;

    > * {
      margin-top: $pixcare-notice-spacing;
      margin-left: $pixcare-notice-spacing;
    }
  }

  @media only screen and (min-width: 1000px) {
    display: flex;
    align-items: center;
  }
}

.pixcare-notice__media {
  flex: 0 1 50%;
  align-self: stretch;
  background-color: #F2F4F5;

  img {
    display: block;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}

.pixcare-notice__screenshot {
  display: flex;
  justify-content: center;
  align-items: flex-end;

  max-width: 40em;
  height: 100%;

  margin-left: auto;
  margin-right: auto;
  padding: 40px 40px 0;
}

.pixcare-notice__body {
  flex: 0 1 50%;

  @media only screen and (min-width: 1300px) {
    padding-left: 50px;
    padding-right: 40px;

    max-width: 40em;
    margin-right: auto;
  }

  li {
    display: flex;
    align-items: center;
    margin-bottom: 15px;

    i {
      position: relative;
      display: block;
      flex-shrink: 0;

      width: 22px;
      height: 22px;
      margin-right: 10px;
      border: 2px solid currentColor;
      border-radius: 50%;

      font-style: normal;
      color: $purple;
      @include pxg-mark;
    }
  }
}

.pixcare-notice-button {
  background-color: $purple;
  color: #FFFFFF;

  position: relative;
  overflow: hidden;

  padding: 18px 35px 19px;
  margin-top: 20px;
  border-radius: 4px;
  border: none;
  text-align: left;

  -webkit-font-smoothing: antialiased;

  box-shadow:
      0 16px 32px rgba(42, 54, 52, 0.1),
      0 16px 16px rgba(42, 54, 52, 0.1),
      0 8px 8px rgba(42, 54, 52, 0.1),
      0 4px 4px rgba(42, 54, 52, 0.1);

  transform: perspective(1px) translateZ(0);
  transition:
      all .15s ease-out,
      width 1s cubic-bezier(0.230, 1.000, 0.320, 1.000);
  outline: none;

  &:hover {
    cursor: pointer;
    transform: scale(1.05) translateY(-3px);
    box-shadow:
        0 64px 128px rgba(42, 54, 52, 0.1),
        0 32px 64px rgba(42, 54, 52, 0.1),
        0 16px 32px rgba(42, 54, 52, 0.1),
        0 16px 16px rgba(42, 54, 52, 0.1),
        0 8px 8px rgba(42, 54, 52, 0.1),
        0 4px 4px rgba(42, 54, 52, 0.1);
  }

  &:active {
    transform: perspective(1px) translateY(2px) translateZ(0);
    transition-duration: .05s;
    box-shadow: none;
  }

  &.state--plugin-installing,
  &.state--plugin-activating,
  &.state--plugin-redirecting {
    color: #23282d;
    border: 0;
    background-color: #eee;
    background-image: linear-gradient(-45deg, rgba(255, 255, 255, .3) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .3) 50%, rgba(255, 255, 255, .3) 75%, transparent 75%, transparent);
    background-size: 50px 50px;
    box-shadow: none;
    transform: none;
    pointer-events: none;
    animation: progress-bg-anim 2s linear infinite;
  }

  &.state--error {
    background-color: #E3004A;
  }

  &:disabled {
    cursor: not-allowed;
  }
}

@keyframes progress-bg-anim {
  0% {
    background-position: 0 0
  }
  100% {
    background-position: 50px 50px
  }
}

.notice {
  display: none;
}

.pixcare-notice-button__overlay {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: $purple;
  transform: translateX(-100%);
  padding: inherit;
  overflow: hidden;

  &, .pixcare-notice-button__text {
    transition: transform 15s cubic-bezier(0.230, 1.000, 0.320, 1.000);
  }

  .pixcare-notice-button__text {
    display: block;
    color: #FFFFFF;
    transform: translateX(100%) translate3d(70px,0,0);
  }
}

.state--plugin-installing {

  .pixcare-notice-button__overlay {
    transform: translateX(-40%);

    .pixcare-notice-button__text {
      transform: translateX(40%) translate3d(28px,0,0);
    }
  }
}

.state--plugin-activating {

  .pixcare-notice-button__overlay {
    transform: translateX(-10%);

    .pixcare-notice-button__text {
      transform: translateX(10%) translate3d(7px,0,0);
    }

    &, .pixcare-notice-button__text {
      transition: transform 10s cubic-bezier(0.230, 1.000, 0.320, 1.000);
    }
  }
}

.state--plugin-redirecting {

  .pixcare-notice-button__overlay {
    transform: translateX(0);

    .pixcare-notice-button__text {
      transform: translate3d(0,0,0);
    }

    &, .pixcare-notice-button__text {
      transition: transform 5s cubic-bezier(0.230, 1.000, 0.320, 1.000);
    }
  }
}

.state--plugin-redirecting {

  .pixcare-notice-button__overlay {
    transform: translateX(0);

    .pixcare-notice-button__text {
      transform: translate3d(0,0,0);
    }

    &, .pixcare-notice-button__text {
      transition: transform 5s cubic-bezier(0.230, 1.000, 0.320, 1.000);
    }
  }
}

.state--plugin-invalidated {

  &[class] {
    animation: shake 0.8s .1s cubic-bezier(.36,.07,.19,.97) both;
  }

  .pixcare-notice-button__overlay {
    transform: translateX(0);
    background: #E3004A;

    .pixcare-notice-button__text {
      transform: translate3d(0,0,0);
    }

    &, .pixcare-notice-button__text {
      transition: transform .3s cubic-bezier(0.230, 1.000, 0.320, 1.000);
    }
  }

}

@keyframes shake {
  10%, 90% { transform: translate3d(-1px, 0, 0); }
  20%, 80% { transform: translate3d(2px, 0, 0); }
  30%, 50%, 70% { transform: translate3d(-4px, 0, 0); }
  40%, 60% { transform: translate3d(4px, 0, 0); }
}