.pixcare-notice__container *, .pixcare-notice__container :before, .pixcare-notice__container :after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.pixcare-notice__container strong {
  font-weight: 500; }

.pixcare-notice-form {
  position: relative; }

div.pixcare-notice--hidden {
  opacity: 0;
  pointer-events: none; }

.pixcare-notice--download.pixcare-notice--hidden {
  -webkit-transform: translateY(-15px);
          transform: translateY(-15px); }

.pixcare-notice--thankyou {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  position: absolute;
  top: 0;
  left: 0;
  right: 0; }
  .pixcare-notice--thankyou.pixcare-notice--hidden {
    -webkit-transform: translateY(15px);
            transform: translateY(15px); }

.pixcare-notice__wrap {
  -webkit-transition: all .5s ease;
  transition: all .5s ease; }

.pixcare-notice__container.notice {
  display: block;
  position: relative;
  border-left: 0;
  padding-left: 0;
  padding-top: 0;
  padding-bottom: 0;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.5; }
  .pixcare-notice__container.notice p {
    font: inherit;
    padding: 0;
    margin-bottom: 0.9em;
    margin-top: 0;
    max-width: 50em; }
  .pixcare-notice__container.notice h2, .pixcare-notice__container.notice h3 {
    padding: 0;
    margin-top: 0;
    margin-bottom: 0.2em; }
  .pixcare-notice__container.notice .button {
    min-width: 110px;
    height: auto;
    padding: 3px 20px;
    -webkit-transition: all .3s;
    transition: all .3s; }
  .pixcare-notice__container.notice .button-primary {
    background: #8E65C0;
    border: 1px solid #2B2B2B;
    -webkit-box-shadow: 0px 1px 0px #6E3EAD;
            box-shadow: 0px 1px 0px #6E3EAD;
    text-shadow: 0 -1px 1px #6E3EAD, 1px 0 1px #6E3EAD, 0 1px 1px #6E3EAD, -1px 0 1px #6E3EAD; }
    .pixcare-notice__container.notice .button-primary:hover, .pixcare-notice__container.notice .button-primary:focus {
      background: #A274DB; }
  @media screen and (min-width: 782px) {
    .pixcare-notice__container.notice .button + .button {
      margin-left: 8px; } }
  @media screen and (max-width: 782px) {
    .pixcare-notice__container.notice .button {
      width: 100%;
      padding: 8px; }
    .pixcare-notice__container.notice .button + .button {
      margin-top: 10px; } }

.pixcare-notice__container.notice--border {
  border-left: 4px solid #8E65C0; }

.pixcare-notice__container.notice--huge {
  color: #71777c; }
  @media only screen and (min-width: 600px) {
    .pixcare-notice__container.notice--huge {
      font-size: 16px; }
      .pixcare-notice__container.notice--huge h2, .pixcare-notice__container.notice--huge h3 {
        font-size: 25px; } }

.pixcare-notice__container.notice--huge {
  margin-top: 100px;
  margin-bottom: 100px; }

.pxg-wizard {
  position: absolute;
  bottom: 100%;
  left: 0;
  width: 100%;
  height: 100px;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 12px; }
  @media only screen and (min-width: 600px) {
    .pxg-wizard {
      font-size: inherit; } }

.pxg-wizard__step {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  text-align: center; }
  @media only screen and (min-width: 600px) {
    .pxg-wizard__step {
      -webkit-box-flex: 0;
          -ms-flex: 0 1 200px;
              flex: 0 1 200px; } }

.pxg-wizard__step--current {
  color: #9562C6; }
  .pxg-wizard__step--current span {
    color: inherit; }
    .pxg-wizard__step--current span b {
      background-color: currentColor; }
      .pxg-wizard__step--current span b:before, .pxg-wizard__step--current span b:after {
        color: #FFFFFF; }
  .pxg-wizard__step--current .pxg-wizard__progress:after {
    color: #CCCCCC; }

.pxg-wizard__step--done {
  color: #9562C6; }
  .pxg-wizard__step--done span {
    color: inherit; }
    .pxg-wizard__step--done span b {
      background-color: currentColor;
      -webkit-transform: rotate(-135deg);
              transform: rotate(-135deg); }
      .pxg-wizard__step--done span b:before, .pxg-wizard__step--done span b:after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        display: block;
        width: 2px;
        height: 9px;
        margin-left: -3px;
        margin-top: -4px;
        background-color: currentColor; }
      .pxg-wizard__step--done span b:after {
        width: 6px;
        height: 2px; }
      .pxg-wizard__step--done span b:before, .pxg-wizard__step--done span b:after {
        color: #FFFFFF; }

.pxg-wizard__label {
  display: block; }

.pxg-wizard__progress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #CCCCCC;
  margin-top: 10px; }
  .pxg-wizard__progress:before, .pxg-wizard__progress:after {
    content: "";
    height: 4px;
    background-color: currentColor;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1; }
  .pxg-wizard__progress b {
    display: block;
    width: 22px;
    height: 22px;
    border: 3px solid currentColor;
    border-radius: 50%; }

.pixcare-notice__wrap {
  padding-top: 1px;
  padding-bottom: 20px; }
  .pixcare-notice__wrap.hidden {
    display: none; }
  .pixcare-notice__wrap > * {
    margin-top: 20px;
    margin-left: 20px; }
  @media only screen and (min-width: 600px) {
    .notice--huge .pixcare-notice__wrap {
      padding-bottom: 30px; }
      .notice--huge .pixcare-notice__wrap > * {
        margin-top: 30px;
        margin-left: 30px; } }
  @media only screen and (min-width: 1000px) {
    .pixcare-notice__wrap {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start; } }

.pixcare-notice__media {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 135px;
          flex: 0 0 135px; }
  .pixcare-notice__media img {
    display: block;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto; }
  .notice--huge .pixcare-notice__media {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    background-color: #F2F4F5;
    -ms-flex-item-align: stretch;
        align-self: stretch; }
  @media only screen and (max-width: 1000px) {
    .pixcare-notice__media {
      display: none; } }

.pixcare-notice__media--border {
  border: 1px solid #DFE8EF; }

.pixcare-notice__screenshot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  max-width: 40em;
  height: 100%;
  margin-left: auto;
  margin-right: auto; }
  .notice--huge .pixcare-notice__screenshot {
    padding: 40px 40px 0;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end; }

.notice--huge .pixcare-notice__body {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  max-width: 40em;
  margin-right: auto; }
  @media only screen and (min-width: 1300px) {
    .notice--huge .pixcare-notice__body {
      padding-left: 50px;
      padding-right: 40px; } }

.pixcare-notice__body ol {
  list-style: none;
  counter-reset: counter;
  margin-left: 0; }
  .pixcare-notice__body ol li {
    counter-increment: counter; }
    .pixcare-notice__body ol li i {
      -webkit-transform: none;
              transform: none; }
      .pixcare-notice__body ol li i:before {
        content: counter(counter);
        font-size: 15px;
        font-weight: 600;
        background: none;
        margin-top: 0;
        margin-left: 0;
        width: 105%;
        height: auto;
        text-align: center;
        top: 0;
        left: 0;
        line-height: 17px; }
      .pixcare-notice__body ol li i:after {
        display: none; }

.pixcare-notice__body li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px; }
  .pixcare-notice__body li i {
    position: relative;
    display: block;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    width: 22px;
    height: 22px;
    margin-right: 10px;
    border: 2px solid currentColor;
    border-radius: 50%;
    font-style: normal;
    color: #9562C6;
    -webkit-transform: rotate(-135deg);
            transform: rotate(-135deg); }
    .pixcare-notice__body li i:before, .pixcare-notice__body li i:after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      display: block;
      width: 2px;
      height: 9px;
      margin-left: -3px;
      margin-top: -4px;
      background-color: currentColor; }
    .pixcare-notice__body li i:after {
      width: 6px;
      height: 2px; }

.pixcare-notice-button {
  background-color: #9562C6;
  color: #FFFFFF;
  position: relative;
  overflow: hidden;
  display: inline-block;
  padding: 18px 35px 19px;
  margin-top: 20px;
  border-radius: 4px;
  border: none;
  text-align: left;
  text-decoration: none;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  -webkit-box-shadow: 0 16px 32px rgba(42, 54, 52, 0.1), 0 16px 16px rgba(42, 54, 52, 0.1), 0 8px 8px rgba(42, 54, 52, 0.1), 0 4px 4px rgba(42, 54, 52, 0.1);
          box-shadow: 0 16px 32px rgba(42, 54, 52, 0.1), 0 16px 16px rgba(42, 54, 52, 0.1), 0 8px 8px rgba(42, 54, 52, 0.1), 0 4px 4px rgba(42, 54, 52, 0.1);
  -webkit-transform: perspective(1px) translateZ(0);
          transform: perspective(1px) translateZ(0);
  -webkit-transition: all 0.15s ease-out, width 1s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.15s ease-out, width 1s cubic-bezier(0.23, 1, 0.32, 1);
  outline: none; }
  .pixcare-notice-button:hover {
    color: #FFFFFF;
    cursor: pointer;
    -webkit-transform: scale(1.02) translateY(-2px);
            transform: scale(1.02) translateY(-2px);
    -webkit-box-shadow: 0 64px 128px rgba(42, 54, 52, 0.1), 0 32px 64px rgba(42, 54, 52, 0.1), 0 16px 32px rgba(42, 54, 52, 0.1), 0 16px 16px rgba(42, 54, 52, 0.1), 0 8px 8px rgba(42, 54, 52, 0.1), 0 4px 4px rgba(42, 54, 52, 0.1);
            box-shadow: 0 64px 128px rgba(42, 54, 52, 0.1), 0 32px 64px rgba(42, 54, 52, 0.1), 0 16px 32px rgba(42, 54, 52, 0.1), 0 16px 16px rgba(42, 54, 52, 0.1), 0 8px 8px rgba(42, 54, 52, 0.1), 0 4px 4px rgba(42, 54, 52, 0.1); }
  .pixcare-notice-button.button--primary {
    background-color: #00cab6;
    -webkit-box-shadow: none;
            box-shadow: none; }
  .pixcare-notice-button:active, .pixcare-notice-button:focus {
    color: #FFFFFF;
    -webkit-transform: perspective(1px) translateY(2px) translateZ(0);
            transform: perspective(1px) translateY(2px) translateZ(0);
    -webkit-transition-duration: .3s;
            transition-duration: .3s;
    -webkit-box-shadow: none;
            box-shadow: none; }
  .pixcare-notice-button.state--error {
    background-color: #E3004A; }
  .pixcare-notice-button:disabled {
    cursor: not-allowed; }

.notice {
  display: none; }
