$purple: #9562C6;
$gray: #71777c;
$gray-light: #CCCCCC;

@mixin pxg-mark {
    transform: rotate(-135deg);

    &:before,
    &:after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;

        display: block;
        width: 2px;
        height: 9px;
        margin-left: -3px;
        margin-top: -4px;
        background-color: currentColor;
    }

    &:after {
        width: 6px;
        height: 2px;
    }
}

.pixcare-notice__container {

    *, :before, :after {
        box-sizing: border-box;
    }

    strong {
        font-weight: 500;
    }
}

.pixcare-notice-form {
    position: relative;
}

div.pixcare-notice--hidden {
    opacity: 0;
    pointer-events: none;
}

.pixcare-notice--download {
    &.pixcare-notice--hidden {
        transform: translateY(-15px);
    }
}

.pixcare-notice--thankyou {
    transform: translateY(0px);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    &.pixcare-notice--hidden {
        transform: translateY(15px);
    }
}

.pixcare-notice__wrap {
    transition: all .5s ease;
}

.pixcare-notice__container.notice {
    display: block;
    position: relative;

    border-left: 0;
    padding-left: 0;
    padding-top: 0;
    padding-bottom: 0;

    font-size: 14px;
    font-weight: 300;
    line-height: 1.5;

    p {
        font: inherit;
        padding: 0;
        margin-bottom: 0.9em;
        margin-top: 0;
        max-width: 50em;
    }

    h2, h3 {
        padding: 0;
        margin-top: 0;
        margin-bottom: 0.2em;
    }

    .button {
        min-width: 110px;
        height: auto;
        padding: 3px 20px;
        transition: all .3s;
    }

    .button-primary {
        background: #8E65C0;
        border: 1px solid #2B2B2B;
        box-shadow: 0px 1px 0px #6E3EAD;

        text-shadow: 0 -1px 1px #6E3EAD,
        1px 0 1px #6E3EAD,
        0 1px 1px #6E3EAD,
        -1px 0 1px #6E3EAD;


        &:hover,
        &:focus {
          background: #A274DB;
        }
    }

    @media screen and (min-width: 782px) {
      .button + .button {
          margin-left: 8px;
      }
    }

    @media screen and (max-width: 782px) {
       .button {
          width: 100%;
          padding: 8px;
        }

        .button + .button {
            margin-top: 10px;
        }
    }
}

.pixcare-notice__container.notice--border {
    border-left: 4px solid #8E65C0;
}

.pixcare-notice__container.notice--huge {
    color: $gray;

    @media only screen and (min-width: 600px) {
        font-size: 16px;

        h2, h3 {
            font-size: 25px;
        }
    }
}

.pixcare-notice__container.notice--huge {
    margin-top: 100px;
    margin-bottom: 100px;
}

.pxg-wizard {
    position: absolute;
    bottom: 100%;
    left: 0;

    width: 100%;
    height: 100px;
    margin: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 12px;

    @media only screen and (min-width: 600px) {
        font-size: inherit;
    }
}

.pxg-wizard__step {
    flex: 1 1 auto;
    text-align: center;

    @media only screen and (min-width: 600px) {
        flex: 0 1 200px;
    }
}

.pxg-wizard__step--current {
    color: $purple;

    span {
        color: inherit;

        b {
            background-color: currentColor;

            &:before,
            &:after {
                color: #FFFFFF;
            }
        }
    }

    .pxg-wizard__progress:after {
        color: $gray-light;
    }
}

.pxg-wizard__step--done {
    color: $purple;

    span {
        color: inherit;

        b {
            background-color: currentColor;
            @include pxg-mark;

            &:before,
            &:after {
                color: #FFFFFF;
            }
        }
    }
}

.pxg-wizard__label {
    display: block;
}

.pxg-wizard__progress {
    display: flex;
    align-items: center;
    color: $gray-light;
    margin-top: 10px;

    &:before,
    &:after {
        content: "";
        height: 4px;
        background-color: currentColor;
        flex-grow: 1;
    }

    b {
        display: block;
        width: 22px;
        height: 22px;
        border: 3px solid currentColor;
        border-radius: 50%;
    }
}

$pixcare-notice-spacing: 30px;
$pixcare-notice-small-spacing: 20px;

.pixcare-notice__wrap {
    padding-top: 1px;
    padding-bottom: $pixcare-notice-small-spacing;

    &.hidden {
        display: none;
    }

    > * {
        margin-top: $pixcare-notice-small-spacing;
        margin-left: $pixcare-notice-small-spacing;
    }

    @media only screen and (min-width: 600px) {
        .notice--huge & {
            padding-bottom: $pixcare-notice-spacing;

            > * {
                margin-top: $pixcare-notice-spacing;
                margin-left: $pixcare-notice-spacing;
            }
        }
    }

    @media only screen and (min-width: 1000px) {
        display: flex;
        align-items: flex-start;
    }
}

.pixcare-notice__media {
    flex: 0 0 135px;

    img {
        display: block;
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .notice--huge & {
        flex: 0 1 50%;
        background-color: #F2F4F5;
        align-self: stretch;
    }
    
    @media only screen and (max-width: 1000px) {
      display: none;
    }
}

.pixcare-notice__media--border {
    border: 1px solid #DFE8EF;
}

.pixcare-notice__screenshot {
    display: flex;
    justify-content: center;
    align-items: flex-start;

    max-width: 40em;
    height: 100%;

    margin-left: auto;
    margin-right: auto;

    .notice--huge & {
        padding: 40px 40px 0;
        align-items: flex-end;
    }
}

.pixcare-notice__body {

    .notice--huge & {
        flex: 0 1 50%;

        @media only screen and (min-width: 1300px) {
            padding-left: 50px;
            padding-right: 40px;
        }

        max-width: 40em;
        margin-right: auto;
    }

    ol {
        list-style: none;
        counter-reset: counter;
        margin-left: 0;

        li {
            counter-increment: counter;

            i {
                transform: none;

                &:before {
                    content: counter(counter);
                    font-size: 15px;
                    font-weight: 600;
                    background: none;
                    margin-top: 0;
                    margin-left: 0;
                    width: 105%;
                    height: auto;
                    text-align: center;
                    top: 0;
                    left: 0;
                    line-height: 17px;
                }

                &:after {
                    display: none;
                }
            }
        }
    }

    li {
        display: flex;
        align-items: center;
        margin-bottom: 15px;

        i {
            position: relative;
            display: block;
            flex-shrink: 0;

            width: 22px;
            height: 22px;
            margin-right: 10px;
            border: 2px solid currentColor;
            border-radius: 50%;

            font-style: normal;
            color: $purple;
            @include pxg-mark;
        }
    }
}

.pixcare-notice-button {
    background-color: $purple;
    color: #FFFFFF;

    position: relative;
    overflow: hidden;
    display: inline-block;

    padding: 18px 35px 19px;
    margin-top: 20px;
    border-radius: 4px;
    border: none;
    text-align: left;

    text-decoration: none;
    font-weight: 500;

    -webkit-font-smoothing: antialiased;

    box-shadow: 0 16px 32px rgba(42, 54, 52, 0.1),
    0 16px 16px rgba(42, 54, 52, 0.1),
    0 8px 8px rgba(42, 54, 52, 0.1),
    0 4px 4px rgba(42, 54, 52, 0.1);

    transform: perspective(1px) translateZ(0);
    transition: all .15s ease-out,
    width 1s cubic-bezier(0.230, 1.000, 0.320, 1.000);
    outline: none;

    &:hover {
        color: #FFFFFF;
        cursor: pointer;
        transform: scale(1.02) translateY(-2px);
        box-shadow: 0 64px 128px rgba(42, 54, 52, 0.1),
        0 32px 64px rgba(42, 54, 52, 0.1),
        0 16px 32px rgba(42, 54, 52, 0.1),
        0 16px 16px rgba(42, 54, 52, 0.1),
        0 8px 8px rgba(42, 54, 52, 0.1),
        0 4px 4px rgba(42, 54, 52, 0.1);
    }

    &.button--primary {
        background-color: #00cab6;
        box-shadow: none;
    }

    &:active,
    &:focus {
        color: #FFFFFF;
        transform: perspective(1px) translateY(2px) translateZ(0);
        transition-duration: .3s;
        box-shadow: none;
    }

    &.state--error {
        background-color: #E3004A;
    }

    &:disabled {
        cursor: not-allowed;
    }
}

.notice {
    display: none;
}
